.modgit/
app/etc/local.xml
media/catalog/
media/customer/
media/downloadable/
media/import/
media/tmp/
media/xmlconnect/
nbproject/
var/backups/
var/cache/
var/export/
var/import/
var/locks/
var/log/
var/session
var/tmp/
.idea/
test.php
