<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Psshop>
            <version>0.1.0</version>
        </Validoc_Psshop>
    </modules>
    <global>
        <models>
            <psshop>
                <class>Validoc_Psshop_Model</class>
                <resourceModel>sync_resource</resourceModel>
            </psshop>
            <validoc_psshop_resource>
                <class>Validoc_Psshop_Model_Resource</class>
                <entities>
                    <synchronizaction_history>
                        <table>psshop_synchronization_history_entity</table>
                    </synchronizaction_history>
                </entities>
            </validoc_psshop_resource>
        </models>
        <blocks>
            <psshop>
                <class>Validoc_Psshop_Block</class>
            </psshop>
            <adminhtml>
                <rewrite>
                    <system_convert_gui_grid>Validoc_Psshop_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <psshop>
                <class>Validoc_Psshop_Helper</class>
            </psshop>
        </helpers>
        <resources>
            <validoc_psshop_setup>
                <setup>
                    <module>Validoc_Psshop</module>
                    <class>Validoc_Psshop_Model_Resource_Setup</class>
                </setup>
            </validoc_psshop_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <psshop before="Mage_Adminhtml">Validoc_Psshop_Adminhtml</psshop>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <psshop>
                    <file>validoc/synchronization.xml</file>
                </psshop>
            </updates>
        </layout>
    </adminhtml>
</config>